name: Go Cross-Platform Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [windows, linux, darwin]
        goarch: [amd64]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.23'

    - name: Install dependencies
      run: go mod tidy

    - name: Build
      run: |
        if [ "${{ matrix.goos }}" = "windows" ]; then
          go build -ldflags="-H=windowsgui" -o VPDesktop.exe
        else
          go build -o VPDesktop
        fi

    - name: Upload artifacts
      uses: actions/download-artifact@v4
      with:
        name: vpdesktop-${{ matrix.goos }}
        path: |
          VPDesktop
          VPDesktop.exe
